<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmrd.dao.agent.LmAgentMapper">
  <resultMap id="BaseResultMap" type="com.lmrd.entity.agent.LmAgent">
    <!--
    @mbg.generated
    -->
    <id column="agent_id" jdbcType="BIGINT" property="agentId" />
    <result column="agent_name" jdbcType="VARCHAR" property="agentName" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="legal_person_name" jdbcType="VARCHAR" property="legalPersonName" />
    <result column="legal_person_phone" jdbcType="VARCHAR" property="legalPersonPhone" />
    <result column="legal_person_idcard" jdbcType="VARCHAR" property="legalPersonIdcard" />
    <result column="legal_person_certificate_type" jdbcType="INTEGER" property="legalPersonCertificateType" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="robot_num" jdbcType="INTEGER" property="robotNum" />
    <result column="operate_end" jdbcType="BIGINT" property="operateEnd" />
    <result column="biz_license_no" jdbcType="VARCHAR" property="bizLicenseNo" />
    <result column="business_license_url" jdbcType="VARCHAR" property="businessLicenseUrl" />
    <result column="industry_type_id" jdbcType="BIGINT" property="industryTypeId" />
    <result column="industry_type_name" jdbcType="VARCHAR" property="industryTypeName" />
    <result column="industry_type_two_id" jdbcType="BIGINT" property="industryTypeTwoId" />
    <result column="industry_type_two_name" jdbcType="VARCHAR" property="industryTypeTwoName" />
    <result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="province_id" jdbcType="VARCHAR" property="provinceId" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="district_id" jdbcType="VARCHAR" property="districtId" />
    <result column="district_name" jdbcType="VARCHAR" property="districtName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="delete_time" jdbcType="BIGINT" property="deleteTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbg.generated
    -->
    agent_id, agent_name, state, level, parent_id, account, legal_person_name, legal_person_phone, 
    legal_person_idcard, legal_person_certificate_type, contact_name, contact_phone, 
    email, robot_num, operate_end, biz_license_no, business_license_url, industry_type_id, 
    industry_type_name, industry_type_two_id, industry_type_two_name, zip_code, create_time, 
    update_time, province_id, province_name, city_id, city_name, district_id, district_name, 
    address, delete_time, is_delete
  </sql>
  <select id="selectByExample" parameterType="com.lmrd.entity.agent.LmAgentExample" resultMap="BaseResultMap">
    <!--
    @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from lm_agent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from lm_agent
    where agent_id = #{agentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbg.generated
    -->
    delete from lm_agent
    where agent_id = #{agentId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lmrd.entity.agent.LmAgentExample">
    <!--
    @mbg.generated
    -->
    delete from lm_agent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lmrd.entity.agent.LmAgent">
    <!--
    @mbg.generated
    -->
    insert into lm_agent (agent_id, agent_name, state, 
      level, parent_id, account, 
      legal_person_name, legal_person_phone, legal_person_idcard, 
      legal_person_certificate_type, contact_name, 
      contact_phone, email, robot_num, 
      operate_end, biz_license_no, business_license_url, 
      industry_type_id, industry_type_name, industry_type_two_id, 
      industry_type_two_name, zip_code, create_time, 
      update_time, province_id, province_name, 
      city_id, city_name, district_id, 
      district_name, address, delete_time, 
      is_delete)
    values (#{agentId,jdbcType=BIGINT}, #{agentName,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{parentId,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, 
      #{legalPersonName,jdbcType=VARCHAR}, #{legalPersonPhone,jdbcType=VARCHAR}, #{legalPersonIdcard,jdbcType=VARCHAR}, 
      #{legalPersonCertificateType,jdbcType=INTEGER}, #{contactName,jdbcType=VARCHAR}, 
      #{contactPhone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{robotNum,jdbcType=INTEGER}, 
      #{operateEnd,jdbcType=BIGINT}, #{bizLicenseNo,jdbcType=VARCHAR}, #{businessLicenseUrl,jdbcType=VARCHAR}, 
      #{industryTypeId,jdbcType=BIGINT}, #{industryTypeName,jdbcType=VARCHAR}, #{industryTypeTwoId,jdbcType=BIGINT}, 
      #{industryTypeTwoName,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{provinceId,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{districtId,jdbcType=VARCHAR}, 
      #{districtName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{deleteTime,jdbcType=BIGINT}, 
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lmrd.entity.agent.LmAgent">
    <!--
    @mbg.generated
    -->
    insert into lm_agent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="agentId != null">
        agent_id,
      </if>
      <if test="agentName != null">
        agent_name,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="legalPersonName != null">
        legal_person_name,
      </if>
      <if test="legalPersonPhone != null">
        legal_person_phone,
      </if>
      <if test="legalPersonIdcard != null">
        legal_person_idcard,
      </if>
      <if test="legalPersonCertificateType != null">
        legal_person_certificate_type,
      </if>
      <if test="contactName != null">
        contact_name,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="robotNum != null">
        robot_num,
      </if>
      <if test="operateEnd != null">
        operate_end,
      </if>
      <if test="bizLicenseNo != null">
        biz_license_no,
      </if>
      <if test="businessLicenseUrl != null">
        business_license_url,
      </if>
      <if test="industryTypeId != null">
        industry_type_id,
      </if>
      <if test="industryTypeName != null">
        industry_type_name,
      </if>
      <if test="industryTypeTwoId != null">
        industry_type_two_id,
      </if>
      <if test="industryTypeTwoName != null">
        industry_type_two_name,
      </if>
      <if test="zipCode != null">
        zip_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="provinceName != null">
        province_name,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="districtId != null">
        district_id,
      </if>
      <if test="districtName != null">
        district_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="agentId != null">
        #{agentId,jdbcType=BIGINT},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null">
        #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonPhone != null">
        #{legalPersonPhone,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdcard != null">
        #{legalPersonIdcard,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonCertificateType != null">
        #{legalPersonCertificateType,jdbcType=INTEGER},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="robotNum != null">
        #{robotNum,jdbcType=INTEGER},
      </if>
      <if test="operateEnd != null">
        #{operateEnd,jdbcType=BIGINT},
      </if>
      <if test="bizLicenseNo != null">
        #{bizLicenseNo,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null">
        #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="industryTypeId != null">
        #{industryTypeId,jdbcType=BIGINT},
      </if>
      <if test="industryTypeName != null">
        #{industryTypeName,jdbcType=VARCHAR},
      </if>
      <if test="industryTypeTwoId != null">
        #{industryTypeTwoId,jdbcType=BIGINT},
      </if>
      <if test="industryTypeTwoName != null">
        #{industryTypeTwoName,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null">
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        #{districtId,jdbcType=VARCHAR},
      </if>
      <if test="districtName != null">
        #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lmrd.entity.agent.LmAgentExample" resultType="java.lang.Long">
    <!--
    @mbg.generated
    -->
    select count(*) from lm_agent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbg.generated
    -->
    update lm_agent
    <set>
      <if test="record.agentId != null">
        agent_id = #{record.agentId,jdbcType=BIGINT},
      </if>
      <if test="record.agentName != null">
        agent_name = #{record.agentName,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.account != null">
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.legalPersonName != null">
        legal_person_name = #{record.legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="record.legalPersonPhone != null">
        legal_person_phone = #{record.legalPersonPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.legalPersonIdcard != null">
        legal_person_idcard = #{record.legalPersonIdcard,jdbcType=VARCHAR},
      </if>
      <if test="record.legalPersonCertificateType != null">
        legal_person_certificate_type = #{record.legalPersonCertificateType,jdbcType=INTEGER},
      </if>
      <if test="record.contactName != null">
        contact_name = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPhone != null">
        contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.robotNum != null">
        robot_num = #{record.robotNum,jdbcType=INTEGER},
      </if>
      <if test="record.operateEnd != null">
        operate_end = #{record.operateEnd,jdbcType=BIGINT},
      </if>
      <if test="record.bizLicenseNo != null">
        biz_license_no = #{record.bizLicenseNo,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicenseUrl != null">
        business_license_url = #{record.businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.industryTypeId != null">
        industry_type_id = #{record.industryTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.industryTypeName != null">
        industry_type_name = #{record.industryTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.industryTypeTwoId != null">
        industry_type_two_id = #{record.industryTypeTwoId,jdbcType=BIGINT},
      </if>
      <if test="record.industryTypeTwoName != null">
        industry_type_two_name = #{record.industryTypeTwoName,jdbcType=VARCHAR},
      </if>
      <if test="record.zipCode != null">
        zip_code = #{record.zipCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.provinceId != null">
        province_id = #{record.provinceId,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceName != null">
        province_name = #{record.provinceName,jdbcType=VARCHAR},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=VARCHAR},
      </if>
      <if test="record.cityName != null">
        city_name = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.districtId != null">
        district_id = #{record.districtId,jdbcType=VARCHAR},
      </if>
      <if test="record.districtName != null">
        district_name = #{record.districtName,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteTime != null">
        delete_time = #{record.deleteTime,jdbcType=BIGINT},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbg.generated
    -->
    update lm_agent
    set agent_id = #{record.agentId,jdbcType=BIGINT},
      agent_name = #{record.agentName,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      level = #{record.level,jdbcType=INTEGER},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      account = #{record.account,jdbcType=VARCHAR},
      legal_person_name = #{record.legalPersonName,jdbcType=VARCHAR},
      legal_person_phone = #{record.legalPersonPhone,jdbcType=VARCHAR},
      legal_person_idcard = #{record.legalPersonIdcard,jdbcType=VARCHAR},
      legal_person_certificate_type = #{record.legalPersonCertificateType,jdbcType=INTEGER},
      contact_name = #{record.contactName,jdbcType=VARCHAR},
      contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      robot_num = #{record.robotNum,jdbcType=INTEGER},
      operate_end = #{record.operateEnd,jdbcType=BIGINT},
      biz_license_no = #{record.bizLicenseNo,jdbcType=VARCHAR},
      business_license_url = #{record.businessLicenseUrl,jdbcType=VARCHAR},
      industry_type_id = #{record.industryTypeId,jdbcType=BIGINT},
      industry_type_name = #{record.industryTypeName,jdbcType=VARCHAR},
      industry_type_two_id = #{record.industryTypeTwoId,jdbcType=BIGINT},
      industry_type_two_name = #{record.industryTypeTwoName,jdbcType=VARCHAR},
      zip_code = #{record.zipCode,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      province_id = #{record.provinceId,jdbcType=VARCHAR},
      province_name = #{record.provinceName,jdbcType=VARCHAR},
      city_id = #{record.cityId,jdbcType=VARCHAR},
      city_name = #{record.cityName,jdbcType=VARCHAR},
      district_id = #{record.districtId,jdbcType=VARCHAR},
      district_name = #{record.districtName,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      delete_time = #{record.deleteTime,jdbcType=BIGINT},
      is_delete = #{record.isDelete,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lmrd.entity.agent.LmAgent">
    <!--
    @mbg.generated
    -->
    update lm_agent
    <set>
      <if test="agentName != null">
        agent_name = #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null">
        legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonPhone != null">
        legal_person_phone = #{legalPersonPhone,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonIdcard != null">
        legal_person_idcard = #{legalPersonIdcard,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonCertificateType != null">
        legal_person_certificate_type = #{legalPersonCertificateType,jdbcType=INTEGER},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="robotNum != null">
        robot_num = #{robotNum,jdbcType=INTEGER},
      </if>
      <if test="operateEnd != null">
        operate_end = #{operateEnd,jdbcType=BIGINT},
      </if>
      <if test="bizLicenseNo != null">
        biz_license_no = #{bizLicenseNo,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null">
        business_license_url = #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="industryTypeId != null">
        industry_type_id = #{industryTypeId,jdbcType=BIGINT},
      </if>
      <if test="industryTypeName != null">
        industry_type_name = #{industryTypeName,jdbcType=VARCHAR},
      </if>
      <if test="industryTypeTwoId != null">
        industry_type_two_id = #{industryTypeTwoId,jdbcType=BIGINT},
      </if>
      <if test="industryTypeTwoName != null">
        industry_type_two_name = #{industryTypeTwoName,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null">
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        district_id = #{districtId,jdbcType=VARCHAR},
      </if>
      <if test="districtName != null">
        district_name = #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where agent_id = #{agentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lmrd.entity.agent.LmAgent">
    <!--
    @mbg.generated
    -->
    update lm_agent
    set agent_name = #{agentName,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=BIGINT},
      account = #{account,jdbcType=VARCHAR},
      legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      legal_person_phone = #{legalPersonPhone,jdbcType=VARCHAR},
      legal_person_idcard = #{legalPersonIdcard,jdbcType=VARCHAR},
      legal_person_certificate_type = #{legalPersonCertificateType,jdbcType=INTEGER},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      robot_num = #{robotNum,jdbcType=INTEGER},
      operate_end = #{operateEnd,jdbcType=BIGINT},
      biz_license_no = #{bizLicenseNo,jdbcType=VARCHAR},
      business_license_url = #{businessLicenseUrl,jdbcType=VARCHAR},
      industry_type_id = #{industryTypeId,jdbcType=BIGINT},
      industry_type_name = #{industryTypeName,jdbcType=VARCHAR},
      industry_type_two_id = #{industryTypeTwoId,jdbcType=BIGINT},
      industry_type_two_name = #{industryTypeTwoName,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      province_id = #{provinceId,jdbcType=VARCHAR},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      district_id = #{districtId,jdbcType=VARCHAR},
      district_name = #{districtName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where agent_id = #{agentId,jdbcType=BIGINT}
  </update>


  <select id="selectChildrenList" parameterType="com.lmrd.entity.agent.LmAgent" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
      from lm_agent
    where find_in_set(agent_id, getAgentList(#{agentId})) and is_delete <![CDATA[ <> ]]> 1
      <if test="provinceId != null and provinceId != ''">
        and province_id = #{provinceId},
      </if>
    <if test="cityId != null and cityId != ''">
      and city_id = #{cityId},
    </if>
    <if test="districtId != null and districtId != ''">
      and district_id = #{districtId},
    </if>
    <if test="industryTypeId != null and industryTypeId != ''">
      and industry_type_id = #{industryTypeId},
    </if>
    <if test="industryTypeTwoId != null and industryTypeTwoId != ''">
      and industry_type_two_id = #{industryTypeTwoId},
    </if>
    order by update_time desc
  </select>
</mapper>